/.ipynb_checkpoints/
/data/*
/output/*
/input/*
!/input/Example Input Data.txt
/tool_chain/excel_template.xlsx
/tool_chain/solutions.xlsx
/tool_chain/temp.ipynb
/tool_chain/temp.py
/archive/questions/*
/archive/solutions/figures/*.png
!/archive/questions/example.json
/archive/questions.zip
/archive/cached_pics